.genre-adress {
    box-sizing: border-box;
    padding: 15px 75px;;
    width: auto;
    height: 69px; 
}

.genre-main {
    width: auto;
    /* 💡 ИСПРАВЛЕНИЕ: Удаляем фиксированную высоту 598px */
    /* height: 598px; */
    margin-left: 250px;
    margin-right:250px ;
    padding-bottom: 50px; /* Добавляем отступ, чтобы контент не прилипал к футеру */
    flex-grow: 1; /* Позволяем занимать доступное пространство */
}



.adress-text {
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #D7D5CE;
    text-decoration: none;    
}

.genre-main {
    width: auto;
    height: 598px;
    margin-left: 250px;
    margin-right:250px ;
}

.genre-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: 100%;
}


.genre-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0px  !important;
    column-gap: 50px;
    height: 343px;
    width: 500px  !important;
}

.genre-subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    margin: 0 0 20px 0;
}

.card-keywords {
    font-size: 20px;  
    max-height: 400px  !important;
}

.price {
    font-size: 16px;
}

.add-to-analysis-form {
    margin-top: 20px;
}

.genre-image {
    width: 500px !important;
    height: 100% !important;
    padding: 50px 0px;

}

.genre-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}